vm-ubuntu export-ignore
test export-ignore
fs-react/it export-ignore
fs-react/src export-ignore
fs-react/test export-ignore
fs-react/*.json export-ignore
fs-react/*.js export-ignore
fs-react/public/index.html export-ignore
fs-react/.gitignore export-ignore
dev export-ignore
runTests.sh export-ignore
composer.lock export-ignore
README.md export-ignore
.gitignore export-ignore
.gitattributes export-ignore
*.sh		text eol=lf