vm-ubuntu export-ignore
test export-ignore
fs-react/it export-ignore
fs-react/src export-ignore
rest.php export-ignore
runTests.sh export-ignore
phpunit export-ignore
composer.lock export-ignore
*.sh		text eol=lf