#fs-content {
    display: flex;
}

#fs-header {
    height: 80px;
    background: lightgrey;
    align-items: center;
    justify-content: center;
}

#fs-facets {
    background: darkgrey;
}

#fs-results {
    background: darkgrey;
}

div.fs-body {
    height: 650px;
}

div.fs-boxes {
    margin-top: 3px;

    display: flex;

}

@media (min-width: 1000px) {
    #fs-header {
       width: 100%;
    }

    #fs-content {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #fs-facets {
        width: 35%;
    }

    #fs-results {
        width: 65%;
    }

}

@media (max-width: 999px) {
    #fs-header {
        width: 100%;
    }

    #fs-content {
        flex-direction: column;
    }

    #fs-facets {
        width: 100%;
    }

    #fs-results {
        width: 100%;
    }

}

/**
 * Searchbar
 */

#fs-fulltext {
    width: 300px;
}
/**
 * Results
 */

#fs-results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fs-search-result {
    margin: 10px;
}

#fs-paginator {
    margin-bottom: 10px;
}

/**
 * Facets
 */

#fs-facets-existing {
    padding: 10px;
}

#fs-facets {
    display: flex;
    flex-direction: column;
}


#fs-selected-facets {
    height: 200px;
    padding: 10px;
}

.fs-separatorLine {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: none repeat scroll 0 0 #AAAAAA;
    border-top: medium none;
    height: 1px;
}

#fs-facetview li, #fs-categoryview li {
    margin-top: 5px;
}

li.fs-facets span {
    margin-left: 3px;
}
