#fs-content {
    display: flex;
}

#fs-header {
    background: lightgrey;
    padding: 15px;
    border-radius: 5px;
}


div.fs-boxes {
    margin-top: 3px;
    display: flex;
}

div.fs-create-article {
    margin-left: 20px;
}

@media (min-width: 1000px) {
    #fs-header {
        width: 100%;
    }

    #fs-content {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #fs-facets {
        width: 35%;
    }

    #fs-results {
        width: 65%;
    }

    #fs-searchbar {
        width: 75%;
        margin-left: 10px;
    }

    #sort-order-select-control {
        margin-left: 10px;
    }

    #fs-searchbar-button {
        margin-left: 10px;
    }

    #fs-searchbar div.MuiTextField-root {
        width: 45%
    }
}

@media (max-width: 999px) {
    #fs-header {
        width: 100%;
        flex-direction: column;
    }

    #fs-header > div {
        margin-top: 10px;
    }

    #fs-content {
        flex-direction: column;
    }

    #fs-facets {
        width: 100%;
    }

    #fs-results {
        width: 100%;
    }
    #fs-searchbar {
        width: 100%;
        flex-direction: column;
    }
}

/**
 * Searchbar
 */


/**
 * Results
 */

#fs-results {
    margin-top: 20px;
}

.fs-search-result {
    margin-top: 10px;
}

.fs-search-result-title {
    font-weight: bold;

}

.fs-annotation-snippet {
    border: grey solid 1px;
    margin-top: 10px;
    max-width: 800px;
}

#fs-results nav {
    margin-top: 15px;
}

/**
 * Facets
 */

#fs-facets-existing {
    padding: 10px;
}

#fs-facets {
    display: flex;
    flex-direction: column;
}

#fs-selected-facets {
    padding: 10px;
}

