/**
 General layout
 */
#fs-content {
    display: flex;
}

#fs-header, #fs-namespaces, #fs-tagcloud {
    background: lightgrey;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
}

#fs-facets {
    overflow: hidden;
}

#fs-facets > div {
    margin: 5px;
}
div.fs-boxes {
    margin-top: 3px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#fs-tagcloud {
    margin-top: 3px;

}

#fs-tagcloud-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

@media (min-width: 1000px) {

    #fs-content {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #fs-facets {
        width: 34%;
    }

    #fs-results {
        width: 65%;
    }

    #fs-searchbar-button {
        margin-left: 5px;
    }

    #fs-searchbar {
        display: flex;
        width: 100%;
        flex-direction: row;
        max-width: 800px;
    }

    .fs-save-search-link {
        min-width: 200px;
    }
}

@media (max-width: 999px) {
    #fs-header {
        flex-direction: column;
    }

    #fs-searchbar-button {
        margin-top: 10px;
        width: 100%;
    }

    #fs-header > div {
        margin-top: 10px;
    }

    #fs-content {
        flex-direction: column;
    }

    #fs-facets {
        width: 100%;
    }

    #fs-results {
        width: 100%;
    }
    #fs-searchbar {
        width: 100%;
        flex-direction: column;
    }
}

/**
 * Searchbar
 */
div.fs-create-article {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div.fs-save-search-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#sort-order-select-control {
    min-width: 250px;
}

#fs-category-dropdown {
    min-width: 250px;
}

/**
 * Results
 */

#fs-results {
    margin-top: 20px;
}

.fs-search-result {
    margin-top: 10px;
}



.fs-annotation-snippet {
    border: grey solid 1px;
    margin-top: 10px;
    max-width: 800px;
}

#fs-results nav {
    margin-top: 15px;
}

div.promoted {
    background: lightpink;
}

div.demoted {
    background: lightgray;
}

/**
 * Facets
 */
#fs-facets {
    display: flex;
    flex-direction: column;
}

#fs-facetview {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*
 * Tag cloud
 */
span.tag-cloud-tag {
    cursor: pointer;
    border: blue 1px solid;
    border-radius: 5px;
    padding: 2px;
    margin: 3px !important;
}

/*
 Dialogs
 */
div.fs-or-content {
    width: 800px;
    height: 500px;
    padding: 20px;
    overflow: auto;
}


